@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', 'Oswald', 'Rubik', 'Cormorant Garamond', 'TikTok Sans', sans-serif;
}

body {
    background-color: black;
    color: white;
    overflow-y: hidden;

}


@media (max-width: 1000px) {
    .left {
        position: absolute;
        left: -100%;
        z-index: 3;
        transition: all 0.3s ease-in-out;
        /* overflow-x: hidden; */
    }

    .right {
        width: 100vw !important;
    }

    .down {
        height: 79vh !important;
    }

    .topr img {
        opacity: 0;
    }

    .menu {
        opacity: 1 !important;
    }

    .cardcont {
        justify-content: start !important;
        gap: 1.5rem !important;
        height: 100vh !important;


    }

    .cards {
        height: auto !important;
        width: 45vw !important;
        margin-bottom: 2rem !important;
        padding-bottom: 2rem !important;

        /* padding: 0rem !important; */
    }




    .name {
        font-size: 1rem !important;
    }

    .playbar {
        width: 100vw !important;
        height: 6rem !important;
        bottom: 0 !important;
        left: 0 !important;
        margin: 0 !important;


    }

    .controls {
        gap: 2rem !important;
        left: 36vw !important;
    }

    .sound {
        left: 40vw !important;

    }


    .seekbar {

        width: 100vw !important;

    }

    .total-time {

        width: 7vw !important;
        height: 0.5rem !important;
        position: absolute !important;
        right: 0.5rem !important;
        top: 0.5rem !important;
    }



}





@media(max-width: 625px) {

    .left {
        position: absolute;
        left: -100%;
        z-index: 3;
        transition: all 0.3s ease-in-out;
       
    }

    .right {
        width: 100vw !important;
    }

    .down {
        height: 79vh !important;
    }

    .topr img {
        opacity: 0;
    }

    .menu {
        opacity: 1 !important;
    }

    .cardcont {
        justify-content: center !important;
        gap: 2rem !important;


    }

    .cards {
        height: auto !important;
        width: 80vw !important;
        margin-bottom: 2rem !important;
        padding-bottom: 2rem !important;


       
    }




    .name {
        font-size: 1rem !important;
    }

    .playbar {
        width: 100vw !important;
        height: 6rem !important;
        bottom: 0 !important;
        left: 0 !important;
        margin: 0 !important;


    }

    .controls {
        gap: 2rem !important;
        left: 30vw !important;
    }

    .sound {

        left: 45vw !important;

    }

    .audio {
        width: 1.5rem !important;
    }

    .volume {
        width: 4rem !important;
    }




    .seekbar {

        width: 100vw !important;

    }

    .total-time {

        width: 7vw !important;
        height: 0.5rem !important;
        position: absolute !important;
        right: 0.5rem !important;
        top: 0.5rem !important;
    }







}

 






@media (max-width: 500px) {

    .left {

        position: absolute;
        left: -100%;
        z-index: 3;
        transition: all 0.3s ease-in-out;
        /* overflow-x: hidden; */
    }

    .down {
        height: 79vh !important;
    }

    .right {
        width: 100vw !important;

    }

    .topr img {
        opacity: 0;
    }

    .menu {
        opacity: 1 !important;
    }

    .cardcont {
        justify-content: center !important;
        gap: 0rem !important;


    }

    .cards {
        height: auto !important;
        width: 85vw !important;
        margin-bottom: 5rem !important;
        padding-bottom: 2rem !important;
/* 
        padding: 0rem !important; */
    }

    .name {
        font-size: 0.9rem !important;
    }

    .playbar {
        width: 100vw !important;
        height: 6rem !important;
        bottom: 0 !important;
        left: 0 !important;
        margin: 0 !important;


    }

    .controls {
        gap: 5vw !important;
        right: 33vw !important;

    }

    .play button img {
        width: 10vw !important;
    }

    .previous  img {
        width: 10vw !important;
    }

    .next  img {
        width: 10vw !important;
    }

    .sound{
        left: 5vw;
        gap: 1vw !important;
    }
    .audio{
        width: 5vw !important;
    }

    .volume{
        width: 10vw !important;
    }
    

    .seekbar {

        width: 100vw !important;

    }

    .total-time {

        width: 7vw !important;
        height: 0.5rem !important;
        position: absolute !important;
        right: 0.5rem !important;
        top: 0.5rem !important;
    }

}





.invert {
    filter: invert(1);

}


.container {
    display: flex;
    position: relative;
}

.left .logo {
    width: 8rem;
    position: relative;
    top: 0.5rem;
    right: 1rem;
}

.songlist {
    margin: 0rem;
    padding: 1rem 0.5rem;
    /* overflow: scroll;
    scrollbar-width: none; */

}


.songlist ul {
    list-style: none;
    cursor: pointer;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.songlist ul li {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    transition: all 0.5 ease-out;
}

.songlist ul li:hover {
    background-color: rgba(48, 46, 46, 0.541);
}


.songlist ul li img {
    width: 1.5rem;

}


.cross {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 0.7rem;
    opacity: 0;

}

.home {
    width: 1rem;
    margin-left: 1rem;
    display: flex;
    gap: 0.7rem;
    margin: 0.5rem;

}

.search {
    width: 1rem;
    margin-left: 0.5rem;
    display: flex;
    gap: 0.5rem;
    padding-top: 0.3rem;


}

.up {
    background-color: #121212;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.8rem;

}

.down {
    position: relative;
    margin: 0.4rem 0;
    background-color: #121212;
    border-radius: 0.8rem;
    height: 77.5vh;
    overflow: scroll;
    scrollbar-width: none;

}

.down .add {
    width: 1rem;
    position: absolute;
    right: 0.4rem;

}

.down .library {

    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem;
    border-bottom: 1px solid white;


}


.left {

    margin: 0.5rem;
    width: 25vw;
    background-color: #000000;
    border-radius: 0.8rem;
    max-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;

}



.right {
    background-color: #121212;
    width: 75vw;
    border-radius: 0.8rem;
    padding-bottom: 1rem;
    margin-right: 0.4rem;
    position: relative;
    max-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;



}

.right .playbar {
    width: 72vw;
    height: 5rem;
    position: fixed;
    bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: #1e1e1e;
    margin-left: 0.5rem;
    display: flex;
    gap: 2.5rem;
    margin: 0.5rem;
    z-index: 1;




}

.controls {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 0rem;
    left: 30vw;


}

.volume {
    width: 5.5rem;
    height: 0.2rem;
    accent-color: white;

}

/* .audio{
    position: absolute;
     right: -2rem;
    top: 1.8rem;
} */

.sound {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    position: absolute;
    left: 25vw;
    top: 1.5rem;
}




.play button {
    background-color: transparent;
    border: none;
}

.play img {
    width: 3rem;
    height: 5rem;
    cursor: pointer;
}

.pause img {
    width: 3rem;
    height: 5rem;
    cursor: pointer;
}

.next img {
    width: 3rem;
    height: 5rem;
    cursor: pointer;
}

.previous img {
    width: 3rem;
    height: 10vh;
    cursor: pointer;
}


.right .topr {
    display: flex;
    gap: 2rem;
    height: 12%;
    background-color: #242222;
    position: relative;
    bottom: 1.5rem;
    border-radius: 1rem;


}

.right .topr img {
    width: 1.3rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    top: 1rem;
    left: 3rem;


}

.right .menu {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    opacity: 0;
    left: 1rem;
    top: 2.5rem;
    z-index: 1;
}

.login {
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: white;
    color: black;
    font-size: 1rem;
}

.signup {
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    right: 7rem;
    top: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: transparent;
    color: rgba(208, 202, 202, 0.742);
    font-size: 1rem;

}

.cards>* {
    padding-top: 0.5rem;
}


.container .cards {
    position: relative;
    width: 10rem;
    height: 15rem;
    border-radius: 0.8rem;
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #1c1c1c;
    cursor: pointer;
    margin-left: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;


}

.playlist h3 {
    margin: 1rem 0.5rem;
    position: relative;
    bottom: 1rem;
    font-size: 1.5rem;
}


.cards img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;


}

.cards p {
    font-size: 0.5rem;
}

.cards h5 {
    font-size: 1rem;
}

.cardcont {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0.5rem;
    justify-content: start;


}

.cards .play1 {
    position: absolute;
    bottom: 4.5rem;
    right: 1rem;
    transition: all 0.3s ease-out;
    opacity: 0;
}

.cards:hover {
    background-color: #302e2e;

    .play1 {
        bottom: 5.5rem;
        opacity: 1;
/* or you can make varoable at top like this and set opacity:--a ; in .play1
:root{
    --a:0;
}
    then in .cards:hover{
    --a:1;
    }

*/

}
}

.playnow {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.seekbar {

    margin-left: 0.5rem;
    position: fixed;
    bottom: 5.6rem;
    background: white;
    width: 71.5vw;
    height: 0.2rem;
    cursor: pointer;
    border-radius: 3rem;
    padding: 0rem;

}

.circle {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 0.3rem;
    z-index: 100;
    transition: left 0.5s;
}

.info {
    width: 20vw;
    height: 2rem;
    position: relative;
    left: 1rem;
    top: 2rem;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-y: hidden;
    padding: 0.5rem;
    border-radius: 0.5rem;


}

.scrolling-text {
    display: inline-block;
    padding-left: 100%;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}



.total-time {
    width: 7vw;
    height: 0.5rem;
    position: absolute;
    right: -4.5vw;
    top: 0.5rem;
    font-size: 1rem;

}

.current-time {
    width: 7vw;
    height: 0.5rem;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    font-size: 1rem;
}
